<div>
  <h1 class="text-center">Centro de Mensajes</h1>
  <div id="chat-container"></div>
  <div>
    <h5>Envianos un mensaje!</h5>
    <form id="message-form">
      <div>
        <input
          type="email"
          id="message-email"
          placeholder="Ingresá tu correo"
          required
        />
      </div>
      <div class="form-group m-1 d-flex">
        <input
          type="text"
          id="message-content"
          placeholder="Tu mensaje..."
          required
        />
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>

</div>