<div id="login-container">
  <form id="login-form" action="/login" method="post">
    <div>
      <label for="name">Nombre:</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Usuario..."
        required
      />
    </div>
    <div>
      <button id="login-button" type="submit">Enviar</button>
    </div>
  </form>
</div>