<div id="login-container">
  <form id="login-form">
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="user" name="user" placeholder="Usuario..." required />
    </div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </form>
</div>