<div id="signup-container">
  <form id="signup-form">
    <div>
      <label for="name">Nombre:</label>
      <input
        type="text"
        id="first-name"
        name="firstName"
        placeholder="Nombre..."
        required
      />
      <label for="lastname">Apellido:</label>
      <input
        type="text"
        id="last-name"
        name="lastName"
        placeholder="Apellido..."
        required
      />
      <label for="email">Email:</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Email..."
        required
      />
      <label for="password">Contraseña</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Contraseña..."
        required
      />
    </div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </form>
  <div>
    <p>Ya tenés un usuario?</p>
    <button id="go-to-login">Iniciar Sesión</button>
  </div>

</div>