<form action="/api/productos" method="post">
  Nombre del producto:
  <input type="text" name="name" />
  Precio:
  <input type="number" name="price" />
  Imágen:
  <input type="text" name="thumbnail" />
  <input type="submit" value="Enviar" />
</form>
<form action="/productos" method="get">
  <input type="submit" value="Ver todos" />
</form>