<form action="/api/productos" method="post">
  Nombre: <input type="text" placeholder="nombre" name="name" /> Precio:
  <input type="number" placeholder="precio" name="price" /> Url de la imágen:
  <input type="text" placeholder="Foto URL" name="thumbnail" />
  <input type="submit" value="Enviar" />
</form>
<form action="/productos" method="get">
  <input type="submit" value="Ver todos" />
</form>
